body {
    background-color: #ffffff; /* білий фон */
    color: #000000; /* чорний колір тексту */
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    text-align: justify;
}
.white-line {
    height: 45px;
    background-color: white;
}
.red-line {
    height: 70px;
    background-color: #ff3131;
}
.small-red-line {
    height: 0.5%;
    width: 30%;
    background-color: #ff3131;
}
.name {
    padding: 50px;
    border-bottom: 4px solid red;
    width: 80%; 
    margin: 0 auto; 
}
.text-name {
    font-weight:  normal;
    font-style: normal;
    font-size: 58px;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 87%;
    max-width: 100%;
    margin: auto;
    padding: 3rem 0;
    justify-content: space-between;  /* This will put space between the two items */
}
.flex-item {
    padding: 30px;
}
.flex-item > ul {
    padding-top: 20px;
}
.flex-container > div {
    width: 100%;
}
section {
    margin-bottom: 2rem;
}
h1 {
    text-align: center;
}
h2 {
    font-weight:  bold;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
}
ul {
    margin: 0; /* Removes the left margin */
    padding: 0; /* Removes the left padding */
    list-style-type: none;
}

footer {
    background-color: #ff0000; /* червоний колір */
    color: #ffffff; /* білий колір тексту */
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}





