body {
    background-color: #ffffff;
    color: #000000; 
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    text-align: justify;
}
.container {
    width: 65%;
    margin: 0 auto;
}
.header-white-line {
    height: 45px;
    background-color: white;
}
.header-red-line {
    height: 70px;
    background-color: #ff3131;
}
.small-red-line {
    height: 3px;
    width: 100%;
    background-color: #ff3131;
}
.name {
    font-weight:  normal;
    font-style: normal;
    font-size: 58px;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    padding: 30px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;  /* This will put space between the two items */
}
.flex-item > ul {
    padding-top: 20px;
}

h1 {
    text-align: center;
}
h2 {
    font-weight:  bold;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
}
ul {
    margin: 0; /* Removes the left margin */
    padding: 0; /* Removes the left padding */
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}

.social-media-links > ul {
    padding-top: 20px;
}
.social-media-links > ul > li:hover {
    opacity: 0.7;
}
.portfolio {
    padding-bottom: 3rem;
}

.footer {
    height: 70px;
    background-color: #ff3131;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 28px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 18px 16px;
}

.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 16px;
}

.btn > a {
  color: white;
} 
/* Darker background on mouse-over */
.btn:hover {
  background-color: DarkRed;
}


@media (max-width: 800px) {
    .name {
        font-size: 38px;
        padding: 30px;
    }
}
